[submodule "installer"]
	path = installer
	url = https://github.com/FOSS-Cloud/installer.git
[submodule "sysresccd"]
	path = sysresccd
	url = https://github.com/FOSS-Cloud/systemrescuecd
[submodule "configuration-overlay"]
	path = configuration-overlay
	url = https://github.com/FOSS-Cloud/configuration-overlay
